@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;   /* Fondo Oscuro (Casi negro) */
    --foreground: 0 0% 98%;       /* Texto Blanco */
    
    /* CAMBIO CLAVE: NEUTRO TOTAL (Blanco Puro para acciones) */
    --primary: 0 0% 98%;          
    --primary-foreground: 240 5.9% 10%; /* Texto negro sobre botón blanco */
    
    /* El "Anillo" de selección en gris suave */
    --ring: 240 4.9% 83.9%; 

    /* Colores secundarios (Tarjetas, bordes) en escala de grises */
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Scrollbar moderna (Chrome/Safari/Edge) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}